a:link {
    text-decoration: none;
    color: #777777;
}

a:visited {
    text-decoration: none;
    color: #777777;
}

a:hover {
    text-decoration: none;
    color: #777777;
}

a:active {
    text-decoration: none;
    color: #777777;
}


header{
    background-color: #ffffff;
    border-bottom-color: #cccccc;  
    width:100%;
    height: 90px;
    display: fixed;
    top:0;
    overflow: auto;
    border-bottom: 2px solid #cccccc;
}   

.main-menu{
    width: 960px;
    height: 90px;
    margin: 0 auto;
    background-color: #ffffff;
    z-index: 2;
}

.name{
    float: left;
    background-color: #4aaaa5;
    color: #ffffff;
    line-height: 90px;
    height: 90px;
    width: 250px;
    text-align: center;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 

.menu{
    position: relative;
    top: 30px;
    width: 350px;
    line-height: 20px;
    float: right;
    color: #777777;
}

.about, .portfolio, .contact{
    display: inline-block;
    width: 110px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    font-size: 18px;
    text-decoration: none;
}

.portfolio{
    border-left: 2px solid #dddddd;
    border-right: 2px solid #dddddd;
}

.main-body{
    border-bottom: 2px solid #dddddd;
    padding: 20px 0px 80px 0px;
    background-image: url("../images/tree_bark.png"); 
    color: #777777;
    
}

.about-me{
    color: #4aaaa5;
    background-color: #ffffff;
    height: 75px;
    width: 920px;
    margin: 20px 20px;
    border-bottom: 2px solid #dddddd;
    position: relative;
    float: left;
    line-height: 75px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    
}
.main{
    background-color: #ffffff;
    border: 2px solid #dddddd;
    margin: 0 auto;
    width:960px;
    position: relative;
}

.img{
    float: left;
    width: 300px;
    height: 300px;
    background-color: gray;
    margin: 10px 20px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    padding: 10px;
    margin: 20px;
}


footer{
    background-color: #666666;
    font-size: 10px;
    position: relative;
    padding: 20px;
    border-top: 5px solid #4aaaa5;
    /* line-height: 10px; */
    text-align: center;
    color: #ffffff;
}

.footerer{
    position: absolute;
    bottom: 10px;
    left: 50%;
}

.pro1, .pro2, .pro3, .pro4, .pro5{
    width: 320px;
    height: 240px;
    background-color: #777777;
    margin: 10px 20px;
    display: inline-block;
    border: 1px solid #dddddd; 
    
}



.pro1title, .pro2title,.pro3title, .pro4title, .pro5title {
    width: 320px;
    height: 70px;
    background-color: #4aaaa5;   
    position: relative;
    z-index:2;
    top:-90px;
    color: white;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
    
}

.form{  
    width: 900px;
    height: 600px;
    display: inline;
}


.contact-names{
    
    margin-left: 20px;
 
}

.contact-emails{ 
    margin-left: 20px;
}

.one{
    height: 40px;
    width: 915px;
    margin-bottom: 15px;
    
}

.contact-message{
    height: 150px;
    width: 640px;  
    margin-left: 20px;
    
}

.two{
    height: 100px;
    width: 915px; 
}
.submit{
    
}

#mess{
   
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 40px;
    width: 100px;
    margin-left: 20px;
    background-color: #4aaaa5;
}

.titles{
    color: #777777;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    
} 

@media only screen and (max-width:980px){
    body{
        margin: 0;
    }
    header{
        padding: 0;
        margin: 0;
        overflow: hidden;
        height: 75px;
    }
    
    .name{
        width:30%;
        font-size: 125%;
        padding: 0;
        height: 75px;
        clear: both;
        text-align: center;
        overflow: visible;
        line-height: 75px;
    }
    .main-menu{
        width:100%;
        /* height:0%; */
        display: inline-block;
        /* overflow: auto; */
        position: fixed; 
        margin: 0;
        padding: 0;
        z-index: 10;
        top: 0;
        height: 75px;
    }
    .about-me{
        width: 90%;
    }

.about, .portfolio,.contact{
    align-self: center;
}

    .menu{
        /* display: flex;
        align-content:center; */
        justify-content: right;
        align-self: right;
        position: absolute;
        right: 0%;
        /* width:50%; */
        z-index:4;
        clear: both;
        background-color: white;
        padding: 0px;
      
    }

  
    


    .main{
        width: 66%;
        height: 66%;
        border: 0px;
        margin-top: 20px;
        left: 20px;
        margin-left: 20px;
    }

    #me, #metoo{
        /* width: 200px;
        height: 200px; */
    }

    .main-body{
        position: relative;
        top: 0x;
    }

    .pro1, .pro2, .pro3, .pro4, .pro5{
    
    /* margin: 0px 0px 10px 20px; */
    width: 270px;
    height: 190px;
    
    
    }


    img{
     width:100%;
     height: 100%; 
    }


     .pro1title, .pro2title,.pro3title, .pro4title, .pro5title{
        height: 33%;
        width: 100%;
    }



    .one, .two, .contact-message{
        width: 90%;
    }
    .contact-message{
        width: 95%;
    }

    #mess{
        margin: 10px;
    }

    footer{
       
        top:0px;
    }
}














@media only screen and (max-width:768px){
    body{
        margin: 0;
    }
    header{
        padding: 0;
        margin: 0;
        overflow: hidden;
        height: 75px;
    }
    
    .name{
        width:30%;
        font-size: 125%;
        padding: 0;
        height: 75px;
        clear: both;
        text-align: center;
        overflow: visible;
        line-height: 75px;
    }
    .main-menu{
        width:100%;
        /* height:0%; */
        display: inline-block;
        /* overflow: auto; */
        position: fixed; 
        margin: 0;
        padding: 0;
        z-index: 10;
        top: 0;
        height: 75px;
    }
    .about-me{
        width: 90%;
    }

.about, .portfolio,.contact{
    align-self: center;
}

    .menu{
        /* display: flex;
        align-content:center; */
        justify-content: right;
        align-self: right;
        position: absolute;
        right: 0%;
        /* width:50%; */
        z-index:4;
        clear: both;
        background-color: white;
        padding: 0px;
      
    }
    .main{
        width: 90%;
        height: 90%;
        border: 0px;
        margin-top: 20px
    }

    #me, #metoo{
        width: 200px;
        height: 200px;
    }

    .main-body{
        position: relative;
        top: 0x;
        /* width: 100;
        height: 100%;
        border: 0px;
        margin-top: 20px */

    }

    .pro1, .pro2, .pro3, .pro4, .pro5{
    
    margin: 0px 0px 0px 12px;
    }



    .one, .two, .contact-message{
        width: 90%;
    }
    .contact-message{
        width: 95%;
    }

    #mess{
        margin: 10px;
    }

    footer{
       
        top:0px;
    }
}














@media only screen and (max-width:640px){
    body{
        margin: 0;
    }
    
    .name{
        width:100%;
        clear: both;
        text-align: center;
        overflow: visible;
    }
    .main-menu{
        width:100%;
        height:12%;
        display: block;
        /* overflow: auto; */
        position: fixed; 
        margin: 0;
        padding: 0;
        z-index: 10;
        top: 0;
    }
    .about-me{
        width: 90%;
    }

.about, .portfolio,.contact{
    align-self: center;
}

    .menu{
        /* display: flex;
        align-content:center; */
        justify-content: center;
        align-self: center;
        position: relative;
        right: 12%;
        width:66%;
        z-index:4;
        clear: both;
        background-color: white;
        padding: 0px;
      
    }
    .main{
        width: 90%;
        height: 90%;
        border: 0px;
        margin-top: 20px
    }

    #me, #metoo{
        width: 200px;
        height: 200px;
    }

    .main-body{
        position: relative;
        top: 80px;

    }
    .pro1, .pro2, .pro3, .pro4, .pro5{
    
        /* margin: 0px 0px 10px 20px; */
        width: 400px;
        height: 300px;
        margin-left: 15px;

        
        
        }
    
    
        img{
         width:125%;
         height: 125%; 
        }
    
    
         .pro1title, .pro2title,.pro3title, .pro4title, .pro5title{
            height: 25%;
            width: 125%;
            top: -150px;
        }
    

    .one, .two, .contact-message{
        width: 90%;
    }
    .contact-message{
        width: 95%;
    }

    #mess{
        margin: 10px;
    }

    footer{
        /* display: relative; */
        /* bottom: 0; */
        top:80px;
    }
}





